DEBUG=false

MAIN_PORT=3005
ACCESS_TOKEN="access_token"

DB_USER="user"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT=5432
DB_DATABASE="db"

PGADMIN_DEFAULT_EMAIL="name@email.com"
PGADMIN_DEFAULT_PASSWORD="password"
PGADMIN_PORT=5050